{% extends "base.html" %}

{% block content %}
    <h2>edit post</h2>

        <form method="post">
            <label>
                <div>subject</div>
                <input type="text" name="subject" value="{{subject}}">
            </label>

            <label>
                <div>blog</div>
                <textarea name="content">{{content}}</textarea>
            </label>

            <input type="hidden" name="post_id" value={{post_id}}>

            <div class="error">{{error}}</div>
            <input type="submit">
        </form>
<br/>
<br/>
<button class="click_button" onclick="goBack()">Cancel and go Back</button>


<script>
    function goBack() {
        window.history.back();
    }
</script>


{% endblock %}