{% extends "base.html" %}

{% block content %}
  <h2>New Post</h2>

    <form method="post" action="/blog/newpost">
      <label>
        <div>subject</div>
        <input type="text" name="subject" value="{{subject}}">
      </label>

      <label>
        <div>Blog</div>
        <textarea name="content">{{content}}</textarea>
      </label>

      <input type="hidden" name="author" value = {{user.name}}>

      <div class="error">{{error}}</div>

      <input type="submit">
    </form>
{% endblock %}
